- title "Customer"

%p
  %span.cust_label
    %strong Name:
  = "#{@customer.title} #{@customer.first_name} #{@customer.last_name}"
%span.cust_label
  %strong Address:
.address
  %p= @customer.address_line_1 + ',' if @customer.address_line_1
  %p= @customer.address_line_2 + ',' if @customer.address_line_2
  %p= @customer.address_line_3 + ',' if @customer.address_line_3
  %p= @customer.town + ',' if @customer.town
  %p= @customer.county + ',' if @customer.county
  %p= @customer.country + '.' if @customer.country
  %p= @customer.postcode if @customer.postcode
%p
  %strong Telephone Number:
  = @customer.telephone_number
%p
  %strong Mobile Number:
  = @customer.mobile_number
%p
  %strong Email:
  = @customer.email

%p
  = link_to "Edit", edit_customer_path(@customer)
  |
  = link_to "Destroy", @customer, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", customers_path
  |
  = link_to "View Orders", customer_orders_path(@customer)

= render 'orders/index'
