= form_for [@order.customer, @order] do |f|
  -if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg
  %table
    %tr
      %th Product Code
      %th Product Name
      %th Weight
      %th Unit Price
      %th Quantity
      %th Discount %
      %th Row Price
    = f.fields_for :order_items do |order_item|
      = render "order_items", :f => order_item

  .field
    = f.label :total_price
    = f.text_field :total_price
  .field
    = f.label :order_date
    = f.date_select :order_date
  .field
    = f.label :total_weight
    = f.number_field :total_weight
  .actions
    = f.submit 'Save'
