%p#notice= notice

%p
  %b Total price:
  = @order.total_price
%p
  %b Discount:
  = @order.discount
%p
  %b Order date:
  = @order.order_date
%p
  %b Total weight:
  = @order.total_weight

= link_to 'Edit', edit_customer_order_path(@order.customer, @order)
\|
= link_to 'Back', customer_orders_path(@order.customer)
