
= form_tag "search", :class => 'form' do

  = text_field_tag('search_param', params['search_param'])

  = button_tag "Search", :id => "search", :type => 'submit'

%h1 Customers

%ul
  -if @customer_results
    -@customer_results.each_pair do |link, customer|
      %li
        = link_to link do
          = customer

