
= form_tag "search", :class => 'form' do

  = text_field_tag('search_param', params['search_param'])

  = button_tag "Search", :id => "search", :type => 'submit'

-unless @customer_results.blank?
  %h1 Customers

  %ul
    -@customer_results.each_pair do |link, customer|
      %li
        = link_to link do
          = customer


-unless @product_results.blank?
  %h1 Products

  %ul
    -@product_results.each_pair do |link, product|
      %li
        = link_to link do
          = product

