= form_for @product do |f|
  = f.error_messages
  %p
    = f.label :code
    %br
    = f.text_field :code
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :weight
    %br
    = f.number_field :weight
  %p
    = f.label :price
    %br
    = f.text_field :price
  %p
    = f.submit
